.titleBar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    .input{
        display: flex;
        flex-direction: column;
    }
}
.movieList{
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: 1fr;
    .movie{
        min-height: 100%;
        .link{
            img{
                width: 200px;
                height: 100%;
                margin-right: 5px;
            }
            display: flex;

        }
        margin-bottom: 5px;
    }
}