.movie{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.label{
    color: rgb(58, 181, 58);
}
.runtime{
    font-size: calc(0.6rem + 0.6vw);
    color: gray;
}
.year, .imdbScore{
    font-size: calc(0.6rem + 0.6vw);
    color: rgb(233, 182, 86);
}
.description{
    font-size: calc(0.7rem + 0.7vw);
    color: rgb(199, 199, 199);
}