.content{
    min-height: 85vh;
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-column-gap: 25px;
    color: white;
    .info{
        .title{
            font-size: calc(1.5vw + 1.5rem);
        }
        .subtitle{
            font-size: calc(0.6vw + 0.6rem);
            color: rgb(231, 166, 24);
        }
        .description, .actors, .origin{
            margin: 5px 0;
        }
    }
}
img{
    max-width: 100%;
}